.step_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}
.step_text{
    font-weight: bold;
    text-align: center;
}
.step_center{
    text-align: center;
    margin-top: 40px;
}
.step_title{
    font-weight: bold;
    font-size: 32px;
}
.step_blocks{
    display: flex;
    margin-top: 35px;
}
.step_blocks h4{
    font-size: 30px;
    line-height: 1.2;
    color: #0c0d0e;
    font-weight: bold;
    margin-top: 25px;
}
.step_blocks div{
    width: 100%;
}
.step_right img{
    width:100%;
    height: 50vh;
    object-fit:cover;
}
.step_right{
    border: 1px solid gray;
}
.displey_how{
    display: flex;
}