.block:hover{
    border: 1px solid black;
}
.card_img img {
    width: 362px;
    height: 210px;
    object-fit:cover;
}
.card_name{
    font-size: 18px;
    font-weight: 500;
}
.card_price{
    font-size: 18px;
    font-weight: bold;
}
.model_car{
    font-size: 22px;
    font-weight: bold;
}